@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --primary-color: #b65f97;
    --secondary-color: #f0f4c3;
    --text-color: #ffe0e0;
    --accent-color: #b2dfdb;
  }
  .dark {
    --background: #000000;
    --primary-color: #b65f97;
    --secondary-color: #f0f4c3;
    --text-color: #ffe0e0;
    --accent-color: #b2dfdb;
  }
}

@layer base {
  * {
    @apply m-0 box-border p-0;
  }

  body {
    @apply min-h-screen overflow-x-hidden overflow-y-scroll;
  }

  /* header buttons */
  .btnHeader {
    @apply rounded-full border border-secondary text-primary hover:bg-primary hover:text-secondary;
  }

  /* pre-loader in lauout.tsx */
  .loader {
    width: 48px;
    height: 48px;
    border: 3px solid #fff;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid;
    border-color: #ff3d00 transparent;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  /* progress bar that used in top of site */
  .progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5px;
    border: 10px;
    background: #b65f97;
    transform-origin: 0%;
    z-index: 11;
  }

  /* shadow used for most of site */
  .card {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.27);
  }

  /* active link in dashboard (profile section) */
  .tabItem {
    width: 80px;
    padding: 8px 0;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .activeLink {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
  }

  .tabItem:not(.activeLink) {
    border: 1px solid transparent;
    color: black;
  }

  /* dashboard sidenav shadow */
  .sideNavShadow {
    box-shadow: -20px 0px 20px -25px rgba(0, 0, 0, 0.45);
  }
}
